body {
    background: #ee6588;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
  }
  
  .login_div1,
  .login_div2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
  }
  
  #player1_name,
  #player2_name {
    display: inline-block;
    margin-left: 20px;
  }
  #word {
    width: 60%;
  }
  #word_display {
    letter-spacing: 5px;
  }
  #output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
  }
  .button{
    background-color: #f48a69;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1px;
  }
  .label {
    font-weight: 300;
    color: #f48a69;
    font-size: 20px;
  }
  .input {
    align-items: center;
    font-size: 20px;
  }
  